Repository: {{.Repository}}

Main Language: {{.MainLanguage}}

{{- if .StyleGuides}}

## Style Guides
{{- range $path, $content := .StyleGuides}}

<details>
<summary>{{$path}}</summary>

{{$content | indent "> "}}

</details>
{{- end}}
{{- end}}
{{- if .ReadmeContent}}

## README excerpt

{{.ReadmeContent | indent "> "}}
{{- end}}
{{- if .FileTree}}

## Repository structure

<details>
<summary>View File Tree</summary>

The repository contains the following content:

{{range .FileTree -}}
- `{{.}}`
{{end}}
{{if .FileTreeTruncatedCount -}}
... ({{.FileTreeTruncatedCount}} more files)
{{- end}}
</details>
{{- end}}
